body{
    background-color:aquamarine;
}

#container{
    text-align:center;
}

.button{

}

.button:hover{
    background-color: orangered/*enter any color you want the button to change to on hover*/
}

ul{
    list-style-type: none;
}